body{
	margin: 0;
	color: #ffffff;
	background-color: #C7C7CA;
}
header{
	background-color: #1e1f29;
	padding: 20px;
}
nav{
	display: inline-block;
	margin-left: 80%;
}
.nav1{
	margin-left: 10px;
	color: #ffffff;
	text-decoration: none;
}
h1{
	color: black;
	text-align: center;
}
.content{
	display: flex;
	background-color: #3A3B44;
	padding: 10px 10px;
	margin: 20px 20%;
	border-radius: 30px;
}

.content_post{
	margin: 20px 10%;
	text-align: center;
}